.options{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;

    .option{
        font-size: 18px;
        line-height: 20px;
        padding: 10px;
        width: 60%;
        text-align: center;
        border: 1px solid gray;
        border-radius: 30px;
        cursor: pointer;
    
        &:hover{
            background-color: gray;
        }
        
        &.selected{
            color:green;
        }

        &.correct{
            background-color: black;
            color: white;
        }
    }
}